<mat-sidenav-container>
  <mat-toolbar-row class="menu-button">
    <button mat-flat-button (click)="onMenuClick()">ChatBot<mat-icon>menu</mat-icon></button>
  </mat-toolbar-row>
  <mat-sidenav [(opened)]="isMenuOpened" mode="push">
    <mat-list>
      <label class="menu-label">Menu Items</label>
      <mat-list-item>
        <a (click)="onChatClick('/general-chat', 'general-chat')">General Bot</a>
      </mat-list-item>
      <mat-list-item>
        <a (click)="onChatClick('/general-chat', 'music-chat')">Music Bot</a>
      </mat-list-item>
      <mat-list-item>
        <a (click)="onChatClick('/general-chat', 'math-chat')">Math Bot</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet />
</mat-sidenav-container>
