
mat-sidenav-container{
  height: calc(205vh - 105vh);
}
mat-sidenav{
  width: 300px;
  background-color: #8341c1;
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}

label{
  color: white;
  text-decoration: underline;
  font-size: 16pt;
}

button{
  font-size: 18pt;
}
