<h1 class="title"  >General Chat-Bot</h1>
<div class="container">
  <div>
    @for (message of messages; track $index) {
      <p class="user-input-display"><b>You:</b> {{promt}}</p>
      <div class="reply">
        <b>Chat: </b>{{message| json}}
      </div>
    }
    @if (isLoading) {
      <div class="loader-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      }
  </div>
  <div class="submit">
    <textarea class="input" [(ngModel)]=promt (keydown.enter)="sendMessage(promt)" rows="2" cols="55" placeholder="Ask Me Anything!?"></textarea>
    <button class="submit-button" (click)="sendMessage(promt)" >Generate</button>
  </div>
</div>

